.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;

  @include set-font-style(var(--fz-regular-text-small), var(--lh-regular-text-small));
  background-color: var(--cl-lightest-middle);
  color: var(--cl-base-main);

  @media (min-width: $tablet-width) {
    @include set-font-style(var(--fz-regular-text-big), var(--lh-regular-text-big));
  }
}

.body__header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.body__main {
  grid-row: 2/3;
  grid-column: 1/2;
}

.body__footer {
  grid-row: 3/4;
  grid-column: 1/2;
}
