.button-slider {
  width: 20px;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 77%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    transition: background-color var(--el-transition);
  }
}

.button-slider[aria-disabled='true']{
  opacity: 1;
  svg {
    fill: var(--cl-base-middle);
  }
}

.button-slider[aria-disabled='false']{
  &:hover,
  &:focus {
    background: var(--cl-grd-hover);
  }

  &:active {
    background: var(--cl-grd-active);
  }
}

.button-slider svg {
  width: 11px;
  height: 20px;
  fill: var(--cl-base-primary);
}
