.container {
  padding-top: 0;
  padding-right: var(--el-main-indent);
  padding-bottom: 0;
  padding-left: var(--el-main-indent);
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  min-width: $mobile-width;
  max-width: $desktop-width;

  @media (min-width: $desktop-width) {
    padding-right: var(--el-secondary-indent);
    padding-left: var(--el-secondary-indent);
  }
}
