.feature-card {
  min-height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.feature-card__image-block {
  margin-bottom: 4px;
  width: 52px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.feature-card__image-block img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.feature-card__title {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.feature-card__text-block {
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    text-align: left;
  }
}

.feature-card__text {
  margin-bottom: var(--el-extra-indent);

  &:last-child {
    margin-bottom: 0;
  }
}
