.html-academy-logo {
  display: flex;
  align-items: center;
  color: var(--cl-base-middle);
}

.html-academy-logo__label {
  margin-right: 4px;

  @include set-font-style(var(--fz-menu-text), var(--lh-menu-text));
  transition: var(--el-transition);
}

.html-academy-logo:hover {
  fill: var(--cl-base-primary);

  & .html-academy-logo__icon {
    fill: var(--cl-base-primary);
  }

  & .html-academy-logo__label {
    color: var(--cl-base-primary);
  }
}

.html-academy-logo__icon {
  fill: var(--cl-base-middle);
  transition: var(--el-transition);
}
