.pagination-button {
  padding: var(--el-extra-indent);
  min-width: 40px;
  min-height: 40px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cl-base-contrast);
  border-radius: var(--el-border-radius);

  @include set-font-style(var(--fz-regular-text-big), var(--lh-regular-text-big));

  &--current {
    font-weight: var(--fw-semi-bold);
    background: none;
    color: var(--cl-base-main);
  }

  &--control {
    @media (min-width: $tablet-width) {
      padding: var(--el-extra-indent) var(--el-main-indent);
    }
  }
}

.pagination-button:not(.pagination-button--current) {
  transition: var(--el-transition);

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: var(--cl-base-contrast);

    .pagination-button__label {
      color: var(--cl-base-contrast);
    }

    .pagination-button__icon {
      @media (max-width: $mobile-width-only) {
        fill: var(--cl-base-contrast);
      }
    }
  }

  &:hover,
  &:focus {
    background: var(--cl-lighter-primary);
  }

  &:active {
    background: var(--cl-darker-primary);
  }

  &:disabled {
    background: var(--cl-light-middle);
  }
}

.pagination-button__icon {
  fill: var(--cl-base-primary);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination-button__label {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    color: var(--cl-base-primary);
  }
}
