.product-text-block__title {
  margin-bottom: 4px;
}

.product-text-block__title a {
  color: inherit;
}

.product-text-block__description {
  margin-bottom: var(--el-extra-indent);

  @include set-font-style(var(--fz-small-text), var(--lh-small-text));

  &:last-child {
    margin-bottom: 0;
  }
}
