.products__container {
  padding-top: 50px;
  padding-bottom: 36px;
}

.products__badge {
  margin-bottom: 4px;
}

.products__title {
  margin-bottom: 20px;
}

.products__filter {
  margin-bottom: 36px;
}

.products__sort {
  margin-bottom: 16px;
}
