.products__container {
  padding-top: 50px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.products__badge {
  margin-bottom: 4px;
}

.products__title {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.products__filter {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.products__sort {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.products__sort-item {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.products__catalog {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.products__pagination {
  width: fit-content;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .products__wrapper {
    display: flex;
  }

  .products__filter {
    padding-right: 27px;
    flex: 0 0 345px;
  }
}
