.slide-text-block {
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.slide-text-block__badge {
  margin-bottom: 4px;
}

.slide-text-block__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.slide-text-block__description {
  margin-bottom: var(--el-extra-indent);

  @include set-font-style(var(--fz-slide-description-small), var(--lh-slide-description-small));

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    @include set-font-style(var(--fz-slide-description-big), var(--lh-slide-description-big));
  }
}
