.social-link {
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--el-border-radius);

  &:hover,
  &:focus {
    background: var(--cl-base-secondary);

    svg {
      fill: var(--cl-base-primary);
    }
  }

  &:active {
    background: var(--cl-opacity-primary);
  }
}

.social-link svg {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  fill: var(--cl-base-middle);
  transition: all var(--el-transition);
}
