.social__container {
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid var(--cl-base-secondary);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px;
  }
}
