.swiper {
  width: 250px;
  min-width: 100%;
}

.swiper .swiper-pagination > .swiper-pagination-bullet {
  margin: 10px 4px;
  width: 62px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
  background: var(--cl-base-contrast);
}

.swiper .swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--cl-base-primary);
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 53px;
}
