.swiper {
  width: 320px;
  min-width: 100%;
}

.swiper .swiper-pagination > .swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  border-radius: 0;
  opacity: 1;
  background-color: red;
}

.swiper .swiper-pagination > .swiper-pagination-bullet-active {
  background-color: green;
}