.title {
  @include set-font-style(var(--fz-title-small), var(--lh-title-small), var(--fw-bold));
  text-align: center;

  @media (min-width: $tablet-width) {
    @include set-font-style(var(--fz-title-big), var(--lh-title-big), var(--fw-bold));
  }

  &--slider {
    @include set-font-style(var(--fz-title-subsection-small), var(--lh-title-subsection-small), var(--fw-bold));

    @media (min-width: $tablet-width) {
      @include set-font-style(var(--fz-title-subsection-big), var(--lh-title-subsection-big), var(--fw-bold));
      letter-spacing: 0.02em;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }
}
