.user-menu {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    margin: -8px;
  }
}

.user-menu__item {
  @media (min-width: $desktop-width) {
    margin: 8px;
  }
}

.user-menu__icon {
  @media (min-width: $desktop-width) {
    margin-right: 8px;
  }
}

.user-menu__label {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
