:root {
  --fz-title-big: 42px;
  --lh-title-big: 64px;
  --fz-title-small: 24px;
  --lh-title-small: 36px;
  --fz-title-section-big: 24px;
  --lh-title-section-big: 36px;
  --fz-title-filter-sort-small: 16px;
  --lh-title-filter-sort-small: 24px;
  --fz-title-section-small: 18px;
  --lh-title-section-small: 32px;
  --fz-title-subsection-big: 56px;
  --lh-title-subsection-big: 80px;
  --fz-title-subsection-small: 36px;
  --lh-title-subsection-small: 48px;
  --fz-slide-description-big: 20px;
  --lh-slide-description-big: 32px;
  --fz-slide-description-small: 14px;
  --lh-slide-description-small: 20px;
  --fz-title-extra: 14px;
  --lh-title-extra: 20px;
  --fz-badge: 12px;
  --lh-badge: 16px;
  --fz-price: 20px;
  --lh-price: 32px;
  --fz-old-price: 16px;
  --lh-old-price: 32px;
  --fz-label: 16px;
  --lh-label: 24px;
  --fz-slider-old-price: 16px;
  --lh-slider-old-price: 32px;
  --fz-regular-text-big: 16px;
  --lh-regular-text-big: 24px;
  --fz-regular-text-small: 14px;
  --lh-regular-text-small: 20px;
  --fz-small-text: 14px;
  --lh-small-text: 20px;
  --fz-menu-text:12px;
  --lh-menu-text:16px;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}
